.introduction-container {
  height: 100%;
  display: grid;
  place-items: center;
}

.chat-container {
  flex-direction: column;
}

.chat-container-header {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: auto;
}

.chat-container-header strong {
  text-align: center;
  border-radius: 5px;
  color: #fcf9f9;
  font-weight: bold;
  border: none;
}

.chat-container-header button {
  text-align: center;
  border-radius: 5px;
  background-color: rgba(222, 49, 61, 0.946);
  color: #fcf9f9;
  font-weight: bold;
  border: none;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
  min-width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.769);
  border-radius: 10px;
}

.auth-container strong {
  font-size: x-large;
}

.auth-form-container {
  height: 50%;
  display: grid;
  place-items: center;
}

.auth-form-input {
  height: 50%;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-form-container button {
  height: 50%;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(126, 21, 224, 0.872);
  color: #fcf9f9;
  font-weight: bold;
  border: none;
}

.auth-form-container button:hover {
  background-color: #360765e4;
}

@media screen and (max-width: 768px) {
  .auth-container {
    max-width: 95%
  }

  .chat-container-header {
    flex-direction: column;
  }

  .chat-container-header button {
    margin: auto;
  }
}