.introduction-container {
  height: 100%;
  display: grid;
  place-items: center;
}

.chat-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.chat-container button {
  width: 50%;
  margin: auto;
  background-color: rgba(50, 100, 200, 0.6)
}

.auth-form-container {
  display: flex;
  flex-direction: column;
}

.auth-form-container button {
  width: 50%;
  margin: auto;
}

.auth-form-item {
  margin: auto;
  width: 50%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px
}

.auth-form-item input {
  max-width: 60%;
}

@media screen and (max-width: 768px) {
  .auth-form-item {
    flex-direction: column;
  }
}